---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import ArticleCard from "../../../components/ArticleCard.astro";
import Pagination from "../../../components/Pagination.astro";
import { contentfulClient } from "../../../lib/contentful";

const metaData = {
  title: "Blog | Aldrin's Blog",
  description:
    "Read the latest articles and updates on technology and life on Aldrin's Personal Blog.",
};

export async function getStaticPaths() {
  const postsPerPage = 6;
  // const articles = await getCollection("blog");
  const articles = await contentfulClient
    .getEntries({
      content_type: "blog",
    })
    .then((response) => response.items);

  // const sortedArticles = articles.sort((a, b) => {
  //   return (
  //     new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  //   );
  // });

  const totalPages = Math.ceil(articles.length / postsPerPage);

  return Array.from({ length: totalPages }, (_, i) => {
    const pageNum = i + 1;
    const start = (pageNum - 1) * postsPerPage;
    const end = start + postsPerPage;
    const pagePosts = articles.slice(start, end);

    return {
      params: {
        page: pageNum.toString(),
      },
      props: {
        pagePosts,
        currentPage: pageNum,
        totalPages,
      },
    };
  });
}

const { pagePosts, currentPage, totalPages } = Astro.props;
---

<Layout title={metaData.title} description={metaData.description}>
  <main
    class="min-h-screen w-full mx-auto lg:ml-6 my-36 flex flex-col relative md:px-10 gap-5"
  >
    <section class="space-y-3 px-4 lg:px-0">
      <h1 class="text-4xl sm:text-6xl font-bold">Thoughts</h1>
      <p class="text-secondary font-medium mt-4">
        Thoughts on tech, learning, and life.
      </p>
    </section>
    <!-- Blog content  -->
    <div class="mt-4 lg:mt-8 grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-8">
      {pagePosts.map((article) => <ArticleCard article={article} />)}
    </div>

    <!-- Pagination  -->
    <Pagination currentPage={currentPage} totalPages={totalPages} />
  </main>
</Layout>
