---
import { postImages } from "../lib/image";
import { formatDate } from "../lib/formatDate";

const { article } = Astro.props;

const data = {
  title: article.data.title,
  description: article.data.description,
  image: postImages[article.data.image],
  date: formatDate(new Date(article.data.pubDate)),
  tags: article.data.tags,
};
---

<article
  class="w-full h-[450px] rounded-2xl bg-cover bg-center"
  style={`background-image: url(${data.image.cover})`}
>
  <a
    href={article.slug}
    class="w-full h-full bg-black/50 rounded-2xl p-8 flex flex-col justify-end relative"
  >
    <ul
      class="flex flex-wrap gap-x-5 marker:content-['#'] absolute top-6 left-8 font-semibold w-[50%] md:w-full text-white"
    >
      {data.tags.map((tag: string) => <li class="capitalize">{tag}</li>)}
    </ul>
    <header class="md:w-[80%]">
      <h2
        class="text-xl sm:text-2xl md:text-3xl font-bold text-white mb-2 line-clamp-2"
      >
        {data.title}
      </h2>
      <p class="text-sm md:text-base text-white truncate">
        {data.description}
      </p>
    </header>
    <p class="text-white absolute md:bottom-8 right-8 font-medium top-6">
      {data.date}
    </p>
  </a>
</article>
